In [2]:
from matplotlib import pyplot as plt

import numpy as np
import pandas as pd
from scipy import stats
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import TimeoutException

from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait

from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split, KFold
from sklearn.cross_validation import cross_val_predict, cross_val_score

from sklearn import metrics
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

/Users/jamieyx/anaconda3/lib/python3.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/jamieyx/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d


## Business Case Overview

You're working as a data scientist for a contracting firm that's rapidly expanding. Now that they have their most valuable employee (you!), they need to leverage data to win more contracts. Your firm offers technology and scientific solutions and wants to be competitive in the hiring market. Your principal has two main objectives:

   1. Determine the industry factors that are most important in predicting the salary amounts for these data.
   2. Determine the factors that distinguish job categories and titles from each other. For example, can required skills accurately predict job title?

To limit the scope, your principal has suggested that you *focus on data-related job postings*, e.g. data scientist, data analyst, research scientist, business intelligence, and any others you might think of. You may also want to decrease the scope by *limiting your search to a single region.*

Hint: Aggregators like [Indeed.com](https://www.indeed.com) regularly pool job postings from a variety of markets and industries. 

**Goal:** Scrape your own data from a job aggregation tool like Indeed.com in order to collect the data to best answer these two questions.

---

In [ ]:

job_titles = []
job_headers = []
job_contents = []
job_salary = []


for start in range(0, 1000, 10):
    driver = webdriver.Chrome("./chromedriver 2")
    webpage = "https://www.indeed.com.sg/jobs?q=data+scientist%2C+data+analyst&l=Singapore"+'&start='+str(start)
    
    
    driver.get(webpage)

    links = driver.find_elements_by_xpath("//div[contains(@class, 'row result clickcard')]")


    for link in links:
        job_searches = link.find_elements_by_tag_name('a')
        for job_search in job_searches:# Gettting the jobtitle
            if job_search.get_attribute('target') == '_blank' and job_search.get_attribute('class').find('jobtitle turnstileLink') != -1:
                if (len(job_search.text) != 0):
                    job_titles.append(job_search.text)

                        # Open a new window to load the job details                    
                    sec_driver = webdriver.Chrome("./chromedriver 2")
                    sec_driver.get(job_search.get_attribute('href'))


                        # Wait for the Page to Load
                    time.sleep(3)
                   
                    #Getting the company and location
                    header = sec_driver.find_element_by_class_name('jobsearch-InlineCompanyRating')
                    job_headers.append(header.text
                                       
                    #getting the job description and required skills
                    content = sec_driver.find_element_by_class_name('jobsearch-JobComponent-description')
                    job_contents.append(content.text)
                    
                    # Getting the salary if there is available    
                     try:
                        salary = sec_driver.find_element_by_class_name('jobsearch-JobMetadataHeader-item ')
                        job_salary.append(salary.text)
                    
                    except NoSuchElementException:  #spelling error making this code not work as expected
                        job_salary.append('No Salary listed')


                    sec_driver.close()
    result = pd.DataFrame(list(zip(job_titles, job_headers ,job_contents,job_salary)), columns = ['title', 'header', 'content', 'salaryrange'])

    
    #clicking the next page      
    next_page = driver.find_element_by_class_name('np')
    next_page.click()
    time.sleep(3)
    
    
   
    
    driver.close()

I have attempted to scrap Indeed.com for the US job pool at first, retrieve close to 5000 rows but after data cleaning, only 200 rows have salaries and considering that the data may not be a good indicator for predicting the Singapore job market, i decide to scape Singapore region.

However, while attempting to scrape singapore region using indeed.com, found out that the salaries are even lesser then the US region. Due to time constraint, i decided to use a dataset that is scrap through Career Future webpage.

### QUESTION 1: Factors that impact salary

To predict salary you will be building either a classification or regression model, using features like the location, title, and summary of the job. If framing this as a regression problem, you will be estimating the listed salary amounts. You may instead choose to frame this as a classification problem, in which case you will create labels from these salaries (high vs. low salary, for example) according to thresholds (such as median salary).

You have learned a variety of new skills and models that may be useful for this problem:
- NLP
- Unsupervised learning and dimensionality reduction techniques (PCA, clustering)
- Ensemble methods and decision tree models
- SVM models

Whatever you decide to use, the most important thing is to justify your choices and interpret your results. *Communication of your process is key.* Note that most listings **DO NOT** come with salary information. You'll need to able to extrapolate or predict the expected salaries for these listings.

After looking at the business problem, i have decided to build a classification model on the salary.
Steps for my approach
- Data cleaning
    - Remove duplicates 
    - split the salary range to low and high and create an Average column to represent the salary for each individual row
    - Create a High salary column which i will find the median of the Average column and if the salary is high 
      then median, i will classify 1 in High salary if not 0.
        
- Build a basic modelling using just 1 column(Industry).
    -Examine the accuracy score, look at the features importance 
- Build a second modelling using 2 columns(Industry and Seniority)
    - Does the accuracy score increase significantly?
    - What are the features that give a higher weights to model?
        
- Build a last model on 4 columns(Industry, Seniority, JD and Req)
    - Use Random forest and logistic regression 
    - Optimize the model using Grid search

In [3]:
df = pd.read_csv('jobsearch.csv')
df.head()

,Unnamed: 0,Title,Company,Location,Range,Monthly/Annual,Seniority,JD,Req,Industry
0,0,"Business Analytics Manager, E-commerce (Google...",COMPANY UNDISCLOSED,undisclosed,undisclosed,NaN,Manager,Manages a team of business analysts executives...,Requirements\r\nMin. Bachelor Degree in Busine...,Marketing / Public Relations
1,1,Manufacturing Data Specialist,ARCSTONE PTE. LTD.,"ALEXANDRA 38, 38 ALEXANDRA TERRACE 119932",undisclosed,NaN,"Professional, Junior Executive, Senior Executive",Why Arcstone?\r\nArcstone is a fast-growing st...,Requirements\r\nWhat are the requirements of t...,"Consulting , Engineering, Information Technolo..."
2,2,Business Relationship Manager,ALGOMERCHANT PTE. LTD.,"PAYA LEBAR SQUARE, 60 PAYA LEBAR ROAD 409051","$2,500to$3,500",Monthly,Executive,You would be responsible to maintain and grow ...,Requirements\r\nBSc/Ba in Banking and Finance ...,"Banking and Finance, Education and Training, I..."
3,3,Data Analyst,SANDBOX CONSULTING PTE. LTD.,"TRIVEX, 8 BURN ROAD 369977","$6,000to$6,500",Monthly,Professional,Collaborate with stakeholders to understand th...,"Requirements\r\nUnderstand key concepts, techn...",Information Technology
4,4,"strategic planning and projects, director",BLUECHIP PLATFORMS ASIA PTE. LTD.,undisclosed,undisclosed,NaN,Manager,Our client is a boutique Corporate Bank and th...,Requirements\r\n**Apply here**\r\nhttps://www....,"Banking and Finance, Information Technology"

In [4]:
# Convert all to lowercase to remove duplicates
df = df.apply(lambda x: x.astype(str).str.lower())

In [5]:
# drop duplicates if the following 4 subets are the same
df.drop_duplicates(subset=['Title','Company', 'Location','Range'], inplace=True)

In [7]:
df

,Unnamed: 0,Title,Company,Location,Range,Monthly/Annual,Seniority,JD,Req,Industry
0,0,"business analytics manager, e-commerce (google...",company undisclosed,undisclosed,undisclosed,nan,manager,manages a team of business analysts executives...,requirements\r\nmin. bachelor degree in busine...,marketing / public relations
1,1,manufacturing data specialist,arcstone pte. ltd.,"alexandra 38, 38 alexandra terrace 119932",undisclosed,nan,"professional, junior executive, senior executive",why arcstone?\r\narcstone is a fast-growing st...,requirements\r\nwhat are the requirements of t...,"consulting , engineering, information technolo..."
2,2,business relationship manager,algomerchant pte. ltd.,"paya lebar square, 60 paya lebar road 409051","$2,500to$3,500",monthly,executive,you would be responsible to maintain and grow ...,requirements\r\nbsc/ba in banking and finance ...,"banking and finance, education and training, i..."
3,3,data analyst,sandbox consulting pte. ltd.,"trivex, 8 burn road 369977","$6,000to$6,500",monthly,professional,collaborate with stakeholders to understand th...,"requirements\r\nunderstand key concepts, techn...",information technology
4,4,"strategic planning and projects, director",bluechip platforms asia pte. ltd.,undisclosed,undisclosed,nan,manager,our client is a boutique corporate bank and th...,requirements\r\n**apply here**\r\nhttps://www....,"banking and finance, information technology"
5,5,"senior product manager (analytics, ai products...",company undisclosed,undisclosed,"$5,000to$10,000",monthly,"middle management, manager, professional",- prepare product business case\r\n- work clos...,"requirements\r\n- bsc/ba in computer science, ...",information technology
6,6,data scientist,company undisclosed,undisclosed,"$6,000to$8,000",monthly,executive,collaborate with stakeholders to understand th...,"requirements\r\nunderstand key concepts, techn...",information technology
7,7,software consultant,company undisclosed,undisclosed,"$6,000to$8,500",monthly,senior executive,total experience of 8 to 11 years which includ...,requirements\r\nmust have completed completed ...,information technology
8,8,"executive, digital analytics",carat media services singapore pte ltd,"guoco tower, 1 wallich street 078881","$3,500to$7,000",monthly,executive,"background:\r\niprospect is a global, award-wi...",requirements\r\nstrong logic & quantitative sk...,advertising / media
9,9,"manager / senior manager, digital analytics",carat media services singapore pte ltd,"guoco tower, 1 wallich street 078881","$5,000to$10,000",monthly,manager,"background:\r\niprospect is a global, award-wi...",requirements\r\nstrong logic & quantitative sk...,advertising / media
10,10,"head, hr analytics & workforce planning",kerry consulting pte. ltd.,"suntec tower four, 6 temasek boulevard 038986","$10,000to$13,000",monthly,manager,• newly created position \r\n• experience in h...,requirements\r\n\r\nyou will be a graduate in ...,human resources
11,11,"svp / vp, lead data scientist, group consumer ...",dbs bank ltd.,undisclosed,"$9,500to$18,000",monthly,senior management,job purpose\r\nthe lead data scientist manages...,requirements\r\nat least 5 years of industry e...,banking and finance
12,12,"avp / senior associate, lead development engin...",dbs bank ltd.,undisclosed,"$5,500to$11,000",monthly,"manager, senior executive",manage the avaloq configuration / release mana...,requirements\r\nthe candidate need to have min...,banking and finance
13,13,"vp / avp, development engineer, group consumer...",dbs bank ltd.,undisclosed,"$6,500to$13,000",monthly,manager,develop world-class solution/application for y...,"requirements\r\nsolid experience in java, java...",banking and finance
14,14,lecturer - it applications development,institute of technical education,2 ang mo kio drive 567720,"$3,000to$6,000",monthly,executive,"responsibilities\r\n \r\nas a lecturer, your c...",undisclosed,"education and training, public / civil service"
15,15,regional commercial account executive,8 hunters international pte. ltd.,undisclosed,undisclosed,nan,manager,regional commercial account executive\r\nabout...,requirements\r\nqualifications\r\nfull cycle s...,sales / retail
16,16,data engineer,perx technologies pte. ltd.,"the riverwalk, 20 upper circular road 058416","$5,000to$8,000",monthly,executive,what you’ll do:\r\n as a data engineer on the...,requirements\r\nms in computer science or a re...,information technology
17,17,"avp / senior associate, data engineer, ibg dig...",dbs bank ltd.,undisclosed,"$5,500to$11,000",monthly,"manager, senior executive",job purpose \r\nthe data engineer will provide...,requirements\r\nmaster’s degree in software en...,banking and finance
18,18,"avp / senior associate, data analyst, analytic...",dbs bank ltd.,undisclosed,"$5,500to$11,000",monthly,"manager, senior executive",job purpose\r\nthe data analyst will provide t...,requirements\r\nbachelors/masters in computer ...,banking and finance
19,19,"vp / avp, data analyst, middle office technolo...",dbs bank ltd.,undisclosed,"$6,500to$13,000",monthly,manager,job purpose \r\nthe purpose of this role and p...,requirements\r\ntechnical expertise in data mi...,banking and finance
20,20,business consultant,mastercard asia/pacific pte. ltd.,"duo tower, 3 fraser street 189352","$11,000to$17,000",monthly,professional,about apt:\r\napt was acquired by mastercard i...,requirements\r\nideal candidate qualifications...,consulting
21,21,senior search manager,cheil singapore pte. ltd.,undisclosed,"$3,000to$8,000",monthly,professional,working with samsung as part of their digital ...,requirements\r\nrequirements\r\n minimum 8 ye...,advertising / media
22,22,research & consulting manager (2-year contract...,singapore management university,undisclosed,"$4,000to$8,000",monthly,manager,company description\r\nsingapore management un...,"requirements\r\na degree in business, economic...",education and training
23,23,apac data engineer,ups asia group pte. ltd.,"ups house, 22 changi south avenue 2 486064","$5,256to$7,008",monthly,senior executive,summary\r\nthe data engineer will be responsib...,requirements\r\nskills and qualifications\r\np...,logistics / supply chain
24,24,"governance, risk management & compliance manager",foodpanda singapore pte. ltd.,"gb building, 143 cecil street 069542","$3,000to$5,000",monthly,manager,do you love food and convenience put together?...,requirements\r\nmaster or bachelor degree in f...,legal
25,25,"content review vendor manager, google play - s...",google asia pacific pte. ltd.,"marina bay financial centre, 8 marina boulevar...","$9,500to$12,000",monthly,executive,area:\r\nthe content operations team ensures a...,requirements\r\nminimum qualifications:\r\n5 y...,general management
26,26,recruiter,gartner advisory (singapore) pte ltd,"suntec tower four, 6 temasek boulevard 038986","$6,000to$9,000",monthly,executive,recruiter\r\nwhat makes gartner hr a great fit...,requirements\r\nwhat you’ll need: (job require...,human resources
27,27,digital marketing executive,acecom technologies pte ltd,"focus one, 1 ubi view 408555",undisclosed,nan,executive,position summary:\r\nthis role will also see y...,requirements\r\ndiploma/ degree or higher in a...,marketing / public relations
28,28,o&t - senior programmer analyst - 18042598,citibank n.a.,undisclosed,"$6,666to$11,208",monthly,middle management,job description\r\nas a senior programmer anal...,requirements\r\nessential skills\r\nexcellent ...,banking and finance
29,29,production planner,grand team technologies limited,"techplace ii, 5014 ang mo kio avenue 5 569881","$2,000to$3,000",monthly,executive,1) study customer delivery plan versus product...,requirements\r\nminimum diploma in precision e...,manufacturing
...,...,...,...,...,...,...,...,...,...,...
664,664,marketing web manager,truewealth publishing pte. ltd.,undisclosed,"$4,500to$5,500",monthly,fresh/entry level,company description\r\nstansberry churchouse r...,requirements\r\n1-3 years of experience with s...,information technology
665,665,principal sales consultant,oracle financial services software pte. ltd.,"galaxis, 1 fusionopolis place 138522","$15,000to$18,000",monthly,professional,as oracle financial services sales consulting ...,requirements\r\nextensive experience in pre-sa...,information technology
666,666,"manager, data science",singapore health services pte ltd,31 third hospital avenue 168753,undisclosed,nan,manager,the office for insights and analytics spearhe...,"requirements\r\nphd, masters or bachelors in q...",others
667,667,sales & marketing manager,gashubin technology private limited,"lhk 3, 8 new industrial road 536200","$8,000to$10,000",monthly,senior management,the manager/senior manager uses data analytics...,requirements\r\n~ analyse data for business in...,"marketing / public relations , sales / retail"
668,668,manager,the nielsen company (singapore) pte. ltd.,"goldbell towers, 47 scotts road 228233","$4,000to$8,000",monthly,"middle management, manager",analytics team - manager\r\nthe role of manage...,requirements\r\nqualifications:\r\n at least ...,consulting
669,669,manager,social room concepts pte. ltd.,59 ubi avenue 1 408938,"$4,000to$70,000",monthly,"senior management, manager",the manager/senior manager uses data analytics...,requirements\r\n~ analyse data for business in...,f&b
670,670,team member in coo investment management asia ...,credit suisse ag,"one raffles link, 1 raffles link 039393","$7,000to$10,250",monthly,executive,team member in coo investment management asia ...,requirements\r\nyou offer…\r\nyou possess a de...,banking and finance
671,671,regional manager,gashubin engineering private limited,"lhk 3, 8 new industrial road 536200","$9,000to$12,000",monthly,senior management,the manager/senior manager uses data analytics...,requirements\r\n~ south east asia strong local...,"banking and finance, engineering, human resour..."
672,672,medical standards & excellence manager,astellas pharma singapore pte. ltd.,undisclosed,"$5,000to$9,000",monthly,manager,strategic and operational planning:\r\nserves ...,"requirements\r\nbachelor’s or master’s degree,...",healthcare / pharmaceutical
673,673,"svp, head of regional risk & control, institut...",dbs bank ltd.,undisclosed,"$15,000to$30,000",monthly,"senior management, manager",job purpose \r\nresponsible for overall ops ri...,requirements\r\nuniversity degree with at leas...,banking and finance
674,674,data engineer,intellect minds pte. ltd.,"anson centre, 51 anson road 079904","$5,000to$7,000",monthly,executive,company overview\r\nintellect minds is a singa...,requirements\r\nqualifications\r\n• advanced w...,information technology
675,675,it security - linux engineer,ubs ag,1 raffles quay 048583,"$80,000to$140,000",annually,professional,your role:\r\ndo you want to define the way ou...,requirements\r\nyour expertise :\r\n- excellen...,banking and finance
676,676,sr. systems analyst,visa worldwide pte. limited,71 robinson road 068895,"$7,500to$10,500",monthly,professional,understanding of data and business processes.\...,"requirements\r\nbs or equivalent in mis, cs, o...",information technology
677,677,analytical applications sales consultant,oracle financial services software pte. ltd.,"galaxis, 1 fusionopolis place 138522","$11,000to$22,000",monthly,professional,as oracle financial services (ofs) sales consu...,requirements\r\nextensive experience in pre-sa...,information technology
678,678,manager,cherryloft fm pte. ltd.,"cherryloft resorts, 159 jalan loyang besar 509404","$3,500to$6,000",monthly,"senior management, manager",the manager/senior manager uses data analytics...,requirements\r\n-able to lead your co-workers\...,hospitality
679,679,data warehousing sales manager,it consulting solutions singapore pte. ltd.,"international plaza, 10 anson road 079903","$6,000to$7,000",monthly,manager,our client is the pioneer in data warehouse au...,requirements\r\njob requirements\r\ndegree in ...,"information technology, sales / retail"
680,680,gcg - digital sales lead,citibank n.a.,undisclosed,"$15,000to$22,500",monthly,middle management,job purpose:\r\ncitibank apac has an ambitious...,requirements\r\nthe ideal candidate will meet ...,banking and finance
681,681,gcg - regional head of content marketing,citibank n.a.,undisclosed,"$15,000to$22,500",monthly,middle management,citibank apac has an ambitious agenda to trans...,requirements\r\nthe ideal candidate for this r...,banking and finance
682,682,actuarial analyst,uib asia reinsurance brokers pte. ltd.,"clifford centre, 24 raffles place 048621","$4,500to$5,000",monthly,senior executive,provide analytics / actuarial / modeling servi...,requirements\r\napplicants should have at leas...,insurance
683,683,senior data analyst,sciente international pte. ltd.,undisclosed,undisclosed,nan,senior executive,an exciting opportunity for analytics professi...,requirements\r\nmandatory skill-set\r\nbachelo...,others
684,684,"senior researcher, centre for skills, performa...",skillsfuture singapore agency,"one marina boulevard, 1 marina boulevard 018989",undisclosed,nan,undisclosed,responsibilities: \r\nthis officer will repo...,undisclosed,public / civil service
685,685,program manager,singapore press holdings limited,"news centre, 1000 toa payoh north 318994","$7,000to$8,000",monthly,middle management,we are looking for a program manager (tech ena...,requirements\r\na good university degree in co...,information technology
686,686,solutions consultant (technical),adept enterprise solutions pte. ltd.,1003 bukit merah central 159836,"$2,300to$5,000",monthly,fresh/entry level,to take on the role of technical consultant fo...,requirements\r\nwe are not fixated on paper qu...,"consulting , information technology"
687,687,"deputy director, talent acquisition (180000dc)",nanyang technological university,"nanyang technological university, 50 nanyang a...","$8,500to$16,000",monthly,middle management,this position will be responsible to focus on ...,requirements\r\nrequirements\r\nbachelor degre...,"education and training, human resources"
688,688,data scientist,thales solutions asia pte. ltd.,21 changi north rise 498788,"$5,000to$8,000",monthly,senior executive,main tasks & responsibilities\r\nevaluate the ...,requirements\r\ndata analytics algorithms and ...,information technology
689,689,information designer,ibm global services pte. ltd.,"ibm place, 7 changi business park central 1 48...","$3,500to$5,500",monthly,professional,"graphics, video and multimedia design\r\nthis ...",requirements\r\nwork proactively within quote ...,information technology
690,690,principal prod & tech consulting,sabre asia pacific pte. ltd.,"abacus plaza, 3 tampines central 1 529540","$102,300to$146,100",annually,manager,sabre is the global leader in innovative techn...,requirements\r\nminimum 8 years related experi...,consulting
691,691,professional development contracts & events ma...,international baccalaureate organization (sing...,"robinson 77, 77 robinson road 068896","$8,200to$9,200",monthly,manager,job purpose:\r\nwe are seeking a manager of co...,requirements\r\nbachelors’ degree required and...,"education and training, events / promotions"
692,692,professional development manager (schools),international baccalaureate organization (sing...,undisclosed,"$8,200to$9,200",monthly,manager,job purpose:\r\nwe are seeking a manager of pr...,requirements\r\nability to communicate with a ...,education and training
693,693,marketing operations specialist,d5 innovation pte. ltd.,75 ayer rajah crescent 139953,"$2,000to$3,000",monthly,"fresh/entry level, executive, junior executive",are you an enthusiastic techie who has plenty ...,requirements\r\ndip/degree in marketing or com...,marketing / public relations

In [8]:
df.drop(columns ='Unnamed: 0', inplace=True)

In [9]:
#Examine any null values, left 645 rows after removing duplicates
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 645 entries, 0 to 693
Data columns (total 9 columns):
Title             645 non-null object
Company           645 non-null object
Location          645 non-null object
Range             645 non-null object
Monthly/Annual    645 non-null object
Seniority         645 non-null object
JD                645 non-null object
Req               645 non-null object
Industry          645 non-null object
dtypes: object(9)
memory usage: 50.4+ KB

In [10]:
# I am working on only 577 Salary rows, may not be sufficient but will work on it first
(df.Range != 'undisclosed').sum()

577

In [11]:
#Drop undisclosed salary range
df= df[df['Range'] != 'undisclosed']

In [13]:
# I want to create 2 columns for the range of salaries, low and high

df['Range'] = df['Range'].replace({'\$':''}, regex = True)
df = df.join(df['Range'].str.split('to', expand=True).rename(columns = {0:'Low', 1:'High'}))

/Users/jamieyx/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
df.Low = df.Low.str.replace(',','').astype(int)
df.High = df.High.str.replace(',','').astype(int)

In [15]:
# creating an Average salary column as the salary for individual job.
df = df.assign(Average = df[['Low', 'High']].mean(axis=1))

In [16]:
# Converting the monthly salary to annually

df.loc[df['Monthly/Annual']== 'monthly', 'Low']= df.loc[df['Monthly/Annual']== 'monthly', 'Low'] *12
df.loc[df['Monthly/Annual']== 'monthly', 'High']= df.loc[df['Monthly/Annual']== 'monthly', 'High'] *12
df.loc[df['Monthly/Annual']== 'monthly', 'Average']= df.loc[df['Monthly/Annual']== 'monthly', 'Average'] *12

In [19]:
df = df.reset_index(drop=True)

In [20]:
df.drop(columns='Range', inplace= True)

In [21]:
# converting the JD and Req columns to continuos sentence instead of mutiple lines
df['JD'].replace('\r\n', '',inplace= True, regex = True)
df['Req'].replace('\r\n', ' ',inplace= True, regex = True)

In [52]:
df.JD[0]

'you would be responsible to maintain and grow the business by paying attention detail from business support to sales. it is important to have passion in the business, and love to communicate with people. a successful business relationship manager in our company uses business management, investing and marketing knowledge to meet our business kpi. you should also advise our management team on potential growth and strategic decisions in alignment with business objectives. ultimately, you should recommend, design and execute short-term and long-term business strategies for our company.therefore there are various aspects, you need to able to cover:50% business & customer supportassisting customer enquiriesconducting workshopconducting cost and benchmarking analysis and report30% salesorganizing seminars and workshopconducting face to face saleconducting tele-salesgenerating new business leadgenerating new customer lead10% marketing (online/offline)do bloggingpost facebook and google adsanalyse facebook and google analytics10% product& business researchdo competitive analysisinvolve in project brainstormingadvise our management team on business growth planning'

In [23]:
# Notice the high value has a $840000 annual salary, looks weird, have to investigate if not it will skew the result
df.describe()

                 Low           High        Average
count     577.000000     577.000000     577.000000
mean    70358.960139  116679.708839   93519.334489
std     31299.753901   60178.513895   43166.000658
min      4800.000000   10200.000000    7500.000000
25%     48000.000000   80400.000000   65730.000000
50%     60000.000000  108000.000000   84000.000000
75%     84000.000000  144000.000000  117000.000000
max    180000.000000  840000.000000  444000.000000

In [24]:
df[df.High == 840000]

,Title,Company,Location,Monthly/Annual,Seniority,JD,Req,Industry,Low,High,Average
554,manager,social room concepts pte. ltd.,59 ubi avenue 1 408938,monthly,"senior management, manager",the manager/senior manager uses data analytics...,requirements ~ analyse data for business insig...,f&b,48000,840000,444000.0

In [25]:
# Manually change the high and average salary due to typo error
df.iloc[554, 9] = 84000

In [26]:
df.iloc[554, 10] = 66000

In [27]:
df.describe()

                 Low           High        Average
count     577.000000     577.000000     577.000000
mean    70358.960139  115369.483536   92864.221837
std     31299.753901   52089.040110   40631.641877
min      4800.000000   10200.000000    7500.000000
25%     48000.000000   80400.000000   65730.000000
50%     60000.000000  108000.000000   84000.000000
75%     84000.000000  144000.000000  117000.000000
max    180000.000000  360000.000000  270000.000000

In [28]:
# Lowest salary seems fine as it is a intern position
df[df.High == 10200]

,Title,Company,Location,Monthly/Annual,Seniority,JD,Req,Industry,Low,High,Average
139,product development intern,invigor asia pte. ltd.,79 ayer rajah crescent 139955,monthly,fresh/entry level,product development intern: part-timeinvigor i...,requirements bout you: you are passionate abou...,information technology,4800,10200,7500.0

In [29]:
# Highest salary seems fine as it is a senior director position
df[df.High == 360000]

,Title,Company,Location,Monthly/Annual,Seniority,JD,Req,Industry,Low,High,Average
150,"senior director, global security",company undisclosed,undisclosed,monthly,non-executive,"as the senior director of global security, you...",requirements key skills and competencies •seas...,"engineering, manufacturing",180000,360000,270000.0
558,"svp, head of regional risk & control, institut...",dbs bank ltd.,undisclosed,monthly,"senior management, manager",job purpose responsible for overall ops risk c...,requirements university degree with at least 1...,banking and finance,180000,360000,270000.0

In [30]:
# Creating a binary High Salary column as the target variable
median_salary = df['Average'].median()
median_salary

84000.0

In [31]:
df['high_salary'] = [1 if s > median_salary else 0 for s in df.Average]

In [32]:
df['high_salary'].value_counts()

0    301
1    276
Name: high_salary, dtype: int64

In [34]:
print('Baseline accuracy: {} '.format(1 - np.mean(df.high_salary)))

Baseline accuracy: 0.5216637781629117

Baseline accuracy is 52% to predict the salary will be below or above the median salary of $81000

Building my first model using dummy variable of Industry column

In [35]:
df_industry_dummy = pd.get_dummies(df['Industry'])
df_industry_dummy.head()

,accounting / auditing / taxation,"accounting / auditing / taxation, banking and finance","accounting / auditing / taxation, consulting , banking and finance, insurance","accounting / auditing / taxation, education and training, professional services","accounting / auditing / taxation, engineering, logistics / supply chain, others","accounting / auditing / taxation, information technology","accounting / auditing / taxation, marketing / public relations",admin / secretarial,"admin / secretarial, human resources",advertising / media,...,others,"others, professional services",personal care / beauty,professional services,public / civil service,purchasing / merchandising,risk management,sales / retail,sciences / laboratory / r&d,telecommunications
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
X = df_industry_dummy
y = df['high_salary']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=88)

In [37]:

model = RandomForestClassifier(n_estimators=100, oob_score=True)

model.fit(X_train, y_train)
predicted = model.predict(X_test)
accuracy = accuracy_score(y_test, predicted)
print('Out-of-bag score estimate: {} '.format(model.oob_score_))
print('Accuracy score: {}'.format(accuracy))

Out-of-bag score estimate: 0.6010362694300518
Accuracy score: 0.6178010471204188

Industy feature seems to be predicting better then the baseline score, accuracy increase from 52% to 61%.

In [38]:
industry_importance = pd.DataFrame(model.feature_importances_, index = X_train.columns,
                                   columns = ['importance']).sort_values('importance', ascending = False)
industry_importance.head(10)

                                                    importance
banking and finance                                   0.113569
sciences / laboratory / r&d                           0.111101
consulting                                            0.078692
information technology                                0.047668
education and training                                0.033813
advertising / media                                   0.031434
f&b                                                   0.031326
general management                                    0.019280
accounting / auditing / taxation, banking and f...    0.017877
human resources                                       0.017522

In [ ]:
The features importance matrix shows that banking and finance, sciences, laboratory and r&d carry higher importance
in this prediction.

In [39]:
df.Seniority.value_counts()

professional                                                     161
executive                                                        105
manager                                                           93
senior executive                                                  47
middle management                                                 38
non-executive                                                     28
senior management                                                 22
junior executive                                                  17
middle management, manager                                        11
fresh/entry level                                                 10
manager, professional                                              6
executive, junior executive                                        4
senior management, manager                                         4
executive, senior executive                                        3
undisclosed                                                        3
manager, senior executive                                          3
middle management, manager, professional                           2
fresh/entry level, executive                                       2
senior management, middle management                               2
senior management, middle management, manager                      2
middle management, professional                                    1
fresh/entry level, professional                                    1
fresh/entry level, executive, non-executive, junior executive      1
manager, executive                                                 1
middle management, professional, executive                         1
junior executive, senior executive                                 1
senior management, middle management, manager, professional        1
professional, executive, junior executive                          1
fresh/entry level, executive, junior executive                     1
professional, non-executive                                        1
executive, non-executive                                           1
senior management, middle management, professional                 1
professional, executive                                            1
middle management, executive                                       1
Name: Seniority, dtype: int64

In [40]:
# For the Seniority column, some of them have multiple names, i will retain only the first.
df['Seniority'] = df['Seniority'].apply(lambda x: x.split(',')[0])

In [41]:
df.Seniority.value_counts()

professional         164
executive            113
manager              103
middle management     54
senior executive      47
senior management     32
non-executive         28
junior executive      18
fresh/entry level     15
undisclosed            3
Name: Seniority, dtype: int64

In [42]:
seniority_features = pd.get_dummies(df['Seniority'])
seniority_features.head()

,executive,fresh/entry level,junior executive,manager,middle management,non-executive,professional,senior executive,senior management,undisclosed
0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,1,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0

Building the second model using adding Seniority to industry dummy variables, accuracy score only increase slightly from 61% to 63%. It seems Seniority does not help in predicting the Salary. Perhaps the Seniority columns need to do more feature engineering, like combining the all executives as 1, likewise for management.

In [43]:
#After adding the seniority features, the accuracy did not increase much

model2 = RandomForestClassifier(n_estimators=100, oob_score=True)

X_features = pd.concat([df_industry_dummy, seniority_features], axis=1)
y = df['high_salary']

X_fea_train, X_fea_test, y_fea_train, y_fea_test = train_test_split(X_features, y, test_size=0.33, random_state=100)
model2.fit(X_fea_train, y_fea_train)


ind_seniority_pred = model2.predict(X_fea_test)
accuracy = accuracy_score(y_fea_test, ind_seniority_pred)
print('Out-of-bag score estimate: {} '.format(model2.oob_score_))
print('Accuracy score: {}'.format(accuracy))

Out-of-bag score estimate: 0.6787564766839378
Accuracy score: 0.6387434554973822

In [44]:
ind_seniority_importance = pd.DataFrame(model2.feature_importances_, index = X_fea_train.columns,
                                   columns = ['importance']).sort_values('importance', ascending = False)
ind_seniority_importance.head(10)

                              importance
manager                         0.073993
banking and finance             0.072229
sciences / laboratory / r&d     0.054534
information technology          0.053369
middle management               0.050868
executive                       0.050125
senior management               0.038962
consulting                      0.038473
marketing / public relations    0.034381
fresh/entry level               0.029989

In [ ]:
Model 3 will require to count vectorize Job Title and Job description , i will set the max features as 30.
I will use logistic regression and random forest model

In [45]:
cvec_title = CountVectorizer(stop_words='english', max_features=30, ngram_range=(2,2))
title_vec = cvec_title.fit_transform(df['Title'].values)

df_vec  = pd.DataFrame(title_vec.todense(), columns=cvec_title.get_feature_names())
print(df_vec.shape)
df_vec.head()

(577, 30)

,assistant manager,associate engineer,banking big,big data,business analyst,consumer banking,data analyst,data analytics,data engineer,data scientist,...,principal engineer,product manager,research engineer,senior data,senior manager,senior product,senior software,software engineer,tech lead,vp avp
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
lr = LogisticRegression()
lr = lr.fit(df_vec, y)
scores= cross_val_score(lr, df_vec, y, cv=10)
print('Cross-validated scores:', scores)
print('Average score:', scores.mean())
print('Standard deviation of score:', scores.std())

Cross-validated scores: [0.69491525 0.55172414 0.55172414 0.77586207 0.79310345 0.74137931
 0.56140351 0.54385965 0.64912281 0.59649123]
Average score: 0.645958555066802
Standard deviation of score: 0.09371202888506953

In [ ]:
Building a Logistic Regression model on jobtitle alone to see if any job title can give me insights on predicting
salary. The accuracy score is quite good, the score of 64% is equivalent to Industry and Seniority combined.

In [48]:
cvec_title.get_feature_names()

['assistant manager',
 'associate engineer',
 'banking big',
 'big data',
 'business analyst',
 'consumer banking',
 'data analyst',
 'data analytics',
 'data engineer',
 'data scientist',
 'deep learning',
 'engineer android',
 'engineer backend',
 'engineer frontend',
 'engineer fullstack',
 'engineer ios',
 'group consumer',
 'i2r star',
 'intern associate',
 'marketing executive',
 'principal engineer',
 'product manager',
 'research engineer',
 'senior data',
 'senior manager',
 'senior product',
 'senior software',
 'software engineer',
 'tech lead',
 'vp avp']

In [49]:
lr.coef_[0]

array([-0.76646457, -2.01611692,  0.36798343,  0.86039079, -0.57169021,
        1.18169489, -0.11530631,  0.2865813 , -1.02960305,  0.11288433,
       -0.18706298,  0.46394555,  0.27480815,  0.46394555,  0.46394555,
        0.46394555,  0.29222498, -1.57381383, -0.70255528, -1.29147422,
        1.34462508,  0.80312218, -0.86007192,  1.46210483,  1.2322598 ,
       -0.28423417,  0.80511955,  1.14382091,  1.74718927,  0.77756859])

In [53]:
title_coef= list(zip(cvec_title.get_feature_names(), lr.coef_[0]))
title_coef

[('assistant manager', -0.7664645652268465),
 ('associate engineer', -2.01611691979756),
 ('banking big', 0.3679834300448122),
 ('big data', 0.8603907897965788),
 ('business analyst', -0.5716902074055272),
 ('consumer banking', 1.1816948891407628),
 ('data analyst', -0.11530630822198913),
 ('data analytics', 0.2865813002124379),
 ('data engineer', -1.0296030454244718),
 ('data scientist', 0.11288433238382552),
 ('deep learning', -0.1870629823740055),
 ('engineer android', 0.4639455498265709),
 ('engineer backend', 0.2748081545902683),
 ('engineer frontend', 0.4639455498265709),
 ('engineer fullstack', 0.4639455498265709),
 ('engineer ios', 0.4639455498265709),
 ('group consumer', 0.2922249779589898),
 ('i2r star', -1.5738138333852736),
 ('intern associate', -0.7025552785816193),
 ('marketing executive', -1.291474218618601),
 ('principal engineer', 1.3446250774553572),
 ('product manager', 0.8031221764481857),
 ('research engineer', -0.86007191852812),
 ('senior data', 1.4621048263951721),
 ('senior manager', 1.2322597975819023),
 ('senior product', -0.28423417187583494),
 ('senior software', 0.8051195532448694),
 ('software engineer', 1.1438209100479806),
 ('tech lead', 1.7471892692697),
 ('vp avp', 0.7775685863145168)]

By looking at the coefficents , the positive coefficients indicate that the job being in
big data, product manager, senior data, senior software and tech lead will be more likely to being a job 
paying over our median level, whilst the negative coefficients of associate engineer, data engineer, i2r star,
marketing executive, research engineer indicate that the job is more likely to be below our median level.

The reason of some coefficients to be abnormally large perhaps is due to the small in sample size.

In [54]:
cvec_jd = CountVectorizer(stop_words='english', max_features=30)
jd_vec = cvec_jd.fit_transform(df['JD']).toarray()
df_jd  = pd.DataFrame(jd_vec, columns=cvec_jd.get_feature_names())
df_jd.head()

,analytics,business,clients,customer,data,design,develop,development,digital,ensure,...,provide,research,role,services,solutions,support,team,teams,technology,work
0,0,12,0,3,0,1,0,0,0,0,...,0,0,0,0,0,1,2,0,0,0
1,1,0,0,0,3,1,0,0,0,0,...,0,0,0,0,2,1,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,3
3,1,0,0,0,3,1,0,0,0,0,...,0,0,0,0,2,1,0,0,0,0
4,1,7,0,0,9,4,2,3,0,1,...,1,0,0,0,1,1,2,1,0,2

In [55]:
X_final = pd.concat([df_vec, df_jd, X_features], axis=1)
X_final.shape

(577, 151)

In [56]:
param_grid = {'n_estimators': [50, 100, 200],
               'max_features': ['auto', 'sqrt'],
               'max_depth': [10, 20, 30, 40, 50, 60],
               'min_samples_split': [ 2, 4],
               'min_samples_leaf': [2, 5, 10]}

In [60]:
# Using grid search to optimize the random forest model, the final score is 74% which has increase a lot
#compared to the baseline score.

rf = RandomForestClassifier()
y = df['high_salary']

X_final_train, X_final_test, y_final_train, y_final_test = train_test_split(X_final, y, test_size=0.33, random_state=99)

rf_gridsearch = GridSearchCV(estimator = rf, param_grid = param_grid, 
                             cv = 3, n_jobs = -1)

rf_gridsearch.fit(X_final_train, y_final_train)

GridSearchCV(cv=3, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'n_estimators': [50, 100, 200], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60], 'min_samples_split': [2, 4], 'min_samples_leaf': [2, 5, 10]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [61]:
prediction = rf_gridsearch.predict(X_final_test)
accuracy = accuracy_score(y_final_test, prediction)

print('Accuracy score: {}'.format(accuracy))

Accuracy score: 0.743455497382199

In [94]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_final_test, prediction)
print(confusion_matrix)
print(classification_report(y_final_test, prediction))

[[80 29]
 [20 62]]
             precision    recall  f1-score   support

          0       0.80      0.73      0.77       109
          1       0.68      0.76      0.72        82

avg / total       0.75      0.74      0.74       191

In [ ]:
From the confusion matrix, it shows the model captured most of the True positive and True Negative which means
the model is able to predict most of the salary that is higher or lower then the median salary. 
Precision and Recall is above 0.74 which also another indicator that the model is doing good.

# QUESTION 2: Factors that distinguish job category

Using the job postings you scraped for part 1 (or potentially new job postings from a second round of scraping), identify features in the data related to job postings that can distinguish job titles from each other. There are a variety of interesting ways you can frame the target variable, for example:
- What components of a job posting distinguish data scientists from other data jobs?
- What features are important for distinguishing junior vs. senior positions?
- Do the requirements for titles vary significantly with industry (e.g. healthcare vs. government)?

You may end up making multiple classification models to tackle different questions. Be sure to clearly explain your hypotheses and framing, any feature engineering, and what your target variables are. The type of classification model you choose is up to you. Be sure to interpret your results and evaluate your models' performance.

I intend to combine data analysis, analytics and scientist as my target variable due to insufficent data. 
I will use 'Req' which represent the skills for the job title as my predictor variable to predict the job title.

In [96]:
df['data_analyst'] = df['Title'].str.contains('analyst|analytics|scientist').apply(lambda x:1 if x == True else 0)

In [97]:
df['data_analyst'].value_counts()

0    416
1    161
Name: data_analyst, dtype: int64

In [98]:
print('Baseline accuracy: {} '.format(1 -np.mean(df.data_analyst)))

Baseline accuracy: 0.7209705372616985

In [99]:
df.head(1)

,Title,Company,Location,Monthly/Annual,Seniority,JD,Req,Industry,Low,High,Average,high_salary,data_analyst
0,business relationship manager,algomerchant pte. ltd.,"paya lebar square, 60 paya lebar road 409051",monthly,executive,you would be responsible to maintain and grow ...,requirements bsc/ba in banking and finance or ...,"banking and finance, education and training, i...",30000,42000,36000.0,0,0

In [100]:
cvec_req = CountVectorizer(stop_words='english', max_features= 100)
req_vec = cvec_req.fit_transform(df['Req']).toarray()
df_req  = pd.DataFrame(req_vec, columns=cvec_req.get_feature_names())
df_req.head()

,ability,able,advantage,agile,analysis,analytical,analytics,applications,bachelor,background,...,time,tools,understanding,using,verbal,web,work,working,written,years
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Building a Random Forest model using the skils requirment to predict the job title

In [126]:
rf = RandomForestClassifier(class_weight="balanced")
X_req = df_req 
y_req = df['data_analyst'].values

X_req_train, X_req_test, y_req_train, y_req_test = train_test_split(X_req, y_req, test_size=0.33, random_state=77)

rf.fit(X_req_train, y_req_train)


req_pred = rf.predict(X_req_test)
accuracy = accuracy_score(y_req_test, req_pred)

print('Accuracy score: {}'.format(accuracy))

Accuracy score: 0.8115183246073299

In [112]:
skills_importance = pd.DataFrame(rf.feature_importances_, index = X_req_train.columns,
                                   columns = ['importance']).sort_values('importance', ascending = False)
skills_importance.head(10)

            importance
analysis      0.055445
machine       0.048129
analytics     0.047039
python        0.043042
data          0.036707
solving       0.027564
experience    0.022680
learning      0.020939
years         0.020121
tools         0.020016

In [113]:
lr = LogisticRegression()
lr = lr.fit(X_req_train, y_req_train)
print('Cross-validated scores:', scores)
print('Average score:', scores.mean())
print('Standard deviation of score:', scores.std())

Cross-validated scores: [0.69491525 0.55172414 0.55172414 0.77586207 0.79310345 0.74137931
 0.56140351 0.54385965 0.64912281 0.59649123]
Average score: 0.645958555066802
Standard deviation of score: 0.09371202888506953

Summary:
    - I have used Random forest throughout the modelling because it is also robust to outliers,
    it works well with classification problem and do not need to normalize the numerical features.
    It could handle inbalanced class problem by introducing class weight= 'balanced' to give bigger weights
    to minority class. Overall, it give a good accuracy and quite dynamic.
    
    - As for the features that give higher importance to the prediction are skills 
    like analysis, machine, python and data, it gives higher probability of classifying the job title
    of data analayst/data scientist